.header{
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;

  max-width: 900px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  &__button{
    width: 40px;
    height: 40px;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;

    background: transparent;
    cursor: pointer;

    background-position: center;
    background-size: contain;

    @include applyDefaultTransition();

    &:hover{
      @include applyHover();
    }

    &_back{
      background-image: url(../images/btn-back.png);
    }

    &_new{
      background-image: url(../images/btn-plus.png);
    }
  }

  &__title{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 28px;
  }
}
