.todoitem {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;

  width: 100%;

  border: 1px solid rgba(256,256,256, .3);
  border-radius: 3px;

  display: grid;
  grid-template-columns: min-content 100px auto 100px min-content min-content;
  gap: 15px;

  @include applyDefaultTransition();

  &:hover{
    transform: translateY(-3px);
  }

  &_checked{
    opacity: .2;
  }

  &__done {
    padding: 20px;
    margin: 0;

    width: 20px;
    height: 20px;

  }

  &__date {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: $color-text;
    font-size: 16px;

    &_today{
      color: orange;
    }

    &_past{
      color: red;
    }
  }

  &__caption {
    padding: 0 0 7px 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 20px;
    color: $color-text;
  }

  &__description {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 16px;
    color: $color-text-darker;
  }

  &__files-empty {
    color: $color-text-darker;
    font-size: 14px;
  }

  &__file {
    width: 32px;
    height: 32px;

    @include applyDefaultTransition();

    &:hover {
      @include applyHover();
    }
  }

  &__btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: min-content;

    @include applyDefaultTransition();

    &:hover {
      @include applyHover();
    }

    &-ico {
      max-width: 32px;
      object-fit: contain;
      object-position: center;
    }
  }
}
