// color pallette
$color-bg: #0E1014;

$color-text: #E4E5EA;
$color-text-darker: #b0b1b8;

$color-button: #2154ba;
$color-button-disabled: rgb(142, 142, 142);

$color-button-text: #E4E5EA;
$color-button-text-disabled: rgb(43, 42, 59);
